<!-------------------------->
<!----Major Accident-------->
<!-------------------------->
<div data-role="page"  id="accidentGuide">

    <!--header-->
    {% with page_title='Major Accident'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Major Accident</h3>



           <!--- Sub-sections (Collapsible set)------>
            <div data-role="collapsible-set" data-inset="true">

                <div data-role="collapsible">
                   <h3>Motor Vehicle Accident</h3>
                   <ul>
                       IF YOU WITNESS A MOTOR VEHICLE ACCIDENT INVOLVING INJURIES:<br><br>
                       <li>Call 911 immediately and remain on the scene until released by paramedics/police.</li><br/>
                       <li>Provide as much information as possible to the call taker</li><br/>
                       <li>Advise the operator of the number of injured and their injuries.</li><br/>
                       <li>Look for hazards that could affect you or responding emergency personnel (fuel, chemicals, etc.) and report them to the 911 operator.</li><br/>
                       <li>DO NOT attempt to move the injured unless it is more dangerous to leave them where they are, i.e.: car fire.</li><br/>
                       <li>Attempt to keep the victims calm and reassure them that assistance is on the way.</li><br/>
                       <li>Wear appropriate protective equipment if rendering aid.</li><br/>
                    </ul>
                </div>

                <div data-role="collapsible">
                    <h3>Aircraft Accident</h3>
                    <div>
                        <ul>
                            <li>In an aircraft accident, the Federal Aviation Administration (FAA) is the agency of jurisdiction.</li><br/>
                            <li>DO NOT APPROACH: No one will be permitted within a five hundred foot radius of the aircraft. </li><br/>
                            <li>Smoke from a burning aircraft is very toxic and should be avoided. </li><br/>
                            <li>If an aircraft incident occurs on the campus, evacuation procedures will begin in the surrounding area.</li><br/>
                        </ul>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h3>If You Witness an Aircraft Accident</h3>
                        <ul>
                            <li>Call 911.</li><br/>
                            <li>DO NOT approach a downed aircraft.</li><br/>
                            <li>Notify the operator of the accident location, the number of casualties and if any campus structures are affected.</li><br/>
                            <li>If the crash scene is close to your building, notify your supervisor and evacuate if smoke from the crash scene moves in your direction.</li><br/>
                            <li>DO NOT approach a downed aircraft. The responding Fire Department has equipment and personnel that are trained for such incidents</li><br/>
                        </ul>
                </div>

                <!---Contact--->
                <div data-role="collapsible">
                    <h3>Emergency Contacts</h3>
                     <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
                </div>

                <!---Quiz--->
                <div data-role="collapsible">
                    <h3>Major Accident Safety Quiz</h3>
                    <div>
                        <p>Take major accident safety quiz:</p>
                        <a data-ajax = "false" href="MajorAccidentQuiz.html" data-role="button">Take Quiz</a>
                    </div>
                </div>

            </div> <!---End flood sub-sections--->
        </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>
