<!-------------------------->
<!--------ALERTS PAGE------->
<!-------------------------->
<div data-role="page"  id="alertPage">
    <!--header-->
    {% with page_title='Alerts Page'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}<!-- /header -->

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Alerts at ASU</h3>
        <hr><br>


	<div id="feed"></div>

	<script type="text/javascript">
      var feed = new google.feeds.Feed("http://rss.blackboardconnect.com/142166/asualert/feed.xml");
      feed.load(function(result) {
		$('#feed')
        .append($('<div>')
        .attr({
			'data-role': 'collapsible-set',
            'id': 'primary',
		}));
		for (i = 0; i < result.feed.entries.length; i++) {
			var entry = result.feed.entries[i];
			($('<div>')
            .attr({
				'data-role': 'collapsible',
                'data-content-theme': 'c',
                'data-collapsed': 'true'
			})
            .html('<h4>' + entry.title + '</h4><p style="font-weight:bold">' + entry.publishedDate + '</p><p>' + entry.content + '</p>'))
            .appendTo('#primary');
		}
		$('#feed').collapsibleset().trigger('create');
      });
    </script>
	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
  
</div>
