<div data-role="page" >

 <!--header-->
 {% with page_title='AED Locations'%}
 {% include 'includes/headerBar.html' %}
 {% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Barret - Cottonwood Hall</h3>

	<p style="text-align:center"><strong>Address: </strong>850 E. Apache Blvd.</p><hr><br>
	<ul>
	<li>1st Floor across from the elevator, around the corner from restroom 104W1</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>
