<!------------------------------------------------------------->
<!------Severe Emotional, Unusual, or Destructive Behavior----->
<!------------------------------------------------------------->
<div data-role="page" id="behaviorGuide">

     <!--header-->
    {% with page_title='Severe Emotional, Unusual, or Destructive Behavior'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Severe Emotional, Unusual, or Destructive Behavior</h3>
        <!--- Sub-sections (Collapsible set)------>
        <div data-role="collapsible-set" data-inset="true">
       
            <div data-role="collapsible">
                <h3>General</h3>
                <ul>
                    <li>Call 911 or the Behavioral Health Hotline (staff) or EMPACT (students) (see contacts section below).</li><br/>
                    <li>All calls are confidential and should be made if you or someone you know needs help.</li><br/>
                    <li>If you feel unsafe, call 911.</li><br/>
                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>Person in Crisis</h3>
                <ul>
                    <li>If you are not the person in crisis, and you are safe, remain calm and ask how you may be of assistance.  Ask the person if there is someone you can call for them.</li><br/>
                    <li>Notify a supervisor.</li><br/>
                    <li>Contact ASU Counseling for students or Employee Assistance for benefit eligible staff and tell them about the issue (see <a href="contactPage.html">Contacts</a> page for further information).</li><br/>
                </ul>
            </div>
            
                <!---Contact--->
            <div data-role="collapsible">
                <h3>Emergency Contacts</h3>
                 <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                     
                        <li style="font-weight:bold">Behavioral Health Hotline (staff)</li>
                        <p><a href="tel:1(602) 222-9444">602.222.9444</a> 24 hours a day / 7 days a week.</p>
                     
                        <li style="font-weight:bold">EMPACT (students)</li>
                        <p><a href="tel:1(480) 921-1006">480.921.1006</a> 24 hours a day / 7 days a week.</p>
                         
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
            </div>

                <!---Quiz--->
            <div data-role="collapsible">
                <h3>Severe Emotional, Unusual, or Destructive Behavior Quiz</h3>
                <div>
                    <p>Take Severe Emotional, Unusual, or Destructive Behavior safety quiz:</p>
                    <a data-ajax = "false" href="SevereBehaviorQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>

            </div> <!---End Severe Emotional, Unusual, or Destructive Behavior sub-sections--->
        </div>
    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>