<!-------------------------------->
<!--------BIOLOGICAL SPILL-------->
<!-------------------------------->
<div data-role="page" id="bioGuide">

     <!--header-->
    {% with page_title='Biological Spill'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Biological Spill</h3>
        <!--- Sub-sections (Collapsible set)------>
        <div data-role="collapsible-set" data-inset="true">

            <div data-role="collapsible">
                <h3>General Information</h3>
                <ul>
                    <li>A spill kit should be kept in each laboratory where work with microorganisms is conducted.</li><br/>
                    <li>Basic equipment is: concentrated disinfectant (household bleach or organism specific disinfectant), paper towels, rubber gloves, autoclave bags, sharps container, and forceps (to pick up broken glass), and a broom and dustpan.</li><br/>
                    <li>Contact Environmental Health and Safety Biosafety/Biosecurity for more information about the selection of disinfectants.</li><br/>
                    <li>For any biological spill, first notify others in the laboratory so they will not unknowingly be exposed or spread the contamination.</li><br/>
                    <li>For large spills, or spills of organisms transmitted via inhalation, call the Principal Investigator (PI) and Environmental Health and Safety.</li><br/>
                    <li>If someone is injured, call 911 for assistance; notify emergency personnel if you are contaminated.</li><br/>
                    <li>Personal exposure takes priority over cleanup.  If you are exposed, immediately remove contaminated clothing and other protective equipment and wash affected areas with soap and water.  If medical follow-up is warranted, it should be sought immediately.</li><br/>

                </ul>
            </div>

            <div data-role="collapsible">
                <h3>Biosafety Risk Groups</h3>
                <ul>
                    <li>Risk Group 1 / BSL 1: Required for work involving well-characterized agents not known to consistently cause disease in immunocompetent adult humans, and present minimal potential hazard to laboratory personnel and the environment.  BSL-1 organisms may be transmitted by exposure to mucous membranes, ingestion, or injection/skin exposure.</li><br>
                    <li>Risk Group 2 / BSL 2: Required for work involving agents that pose moderate hazards to personnel and the environment.  BSL-2 organisms may be transmitted by exposure to mucous membranes, ingestion, or injection/skin exposure.</li><br>
                    <li>Risk Group 3 / BSL 3: Required for clinical, diagnostic, teaching, research, or production facilities where work is performed with indigenous or exotic agents that may cause serious or potentially lethal disease through the inhalation route of exposure.</li><br>
                    <li>Risk Group 4 / BSL 4: required for work with dangerous and exotic agents that pose a high individual risk of aerosol-transmitted laboratory infections and life-threatening disease that is frequently fatal, for which there are no vaccines or treatments, or a related agent with unknown risk of transmission.  There is no BSL-4 work at ASU.</li><br>

                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>BSL1/BSL2/Human Blood Spills</h3>
                <ul>
                    <li>Alert others in immediate area of the incident; notify the PI as soon as possible.</li><br/>
                    <li>If cleanup assistance is needed, contact Environmental Health and Safety or the ASU Police or local law enforcement agency non-emergency number listed on the contacts page. Dial 911 if the spill constitutes an emergency.</li><br/>
                    <li>Wear gloves, safety glasses and lab coat.</li><br/>
                    <li>If splashing is likely, wear goggles, or a face shield and/or N95 respirator.</li><br/>
                    <li>Cover spilled material with paper towels.</li><br/>
                    <li>Carefully pour diluted disinfectant onto paper towels in sufficient quantity to ensure effective microbial inactivation.  Allow a 20-minute contact period.</li><br/>
                    <li>Use forceps to pick up broken glass and discard into SHARPS container.</li><br/>
                    <li>Pick up paper towels and dispose in biohazard waste container.</li><br/>
                    <li>Re-wipe spill area with disinfectant diluted to working strength.  Wipe down any contaminated stationary equipment or furniture with disinfectant.</li><br/>
                    <li>Decontaminate (using an autoclave or approved chemical treatment method) reusable cleanup items and other reusable equipment.  DO NOT autoclave bleach or other hazardous materials.</li><br/>
                    <li>Wash hands with soap and water.</li><br/>
                    <li>Notify laboratory personnel and the PI when the cleanup is completed.</li><br/>
                    <li>Contact ASU Health Services using the contacts page to receive a post-exposure medical evaluation (if necessary).</li><br/>
                    <li>Complete the accident/injury form on the Environmental Health and Safety website.</li><br/>

                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>BSL3 Spills</h3>
                <ul>
                    <li>Contact Environmental Health Safety Biosafety/Biosecurity for questions regarding BSL-3 biological spills.</li><br/>

                </ul>
            </div>

            <div data-role="collapsible">
                <h3>Spill on Body</h3>
                <ul>
                    <li>Remove contaminated clothing; put it in a plastic bag and seal it.</li><br>
                    <li>Vigorously wash exposed area with soap and water.</li><br>
                    <li>Obtain medical attention from ASU Health Services (See <a href="contactPage.html">Emergency Contacts</a> section).</li><br>
                    <li>Report incident to supervisor.  Supervisor is responsible for notifying ASU Environmental Health and Safety.</li><br>
                </ul>

            </div>
            

                <!---Contact--->
            <div data-role="collapsible">
                <h3>Emergency Contacts</h3>
                <div>
                        <li style="font-weight:bold">Office of Radiation Safety (ORS)</li>
                    <p>ORS: Mon-Fri, 8am-5pm: <a href="tel:1(480) 965-6140">480.965.6140</a></p>

                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>

                        <li style="font-weight:bold">Campus Health by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3349">480.965.3349</a> | Poly <a href="tel:1(480) 727-1500">480.727.1500</a> | West <a href="tel:1(602) 543-8019">602.543.8019</a> | Downtown <a href="tel:1(602) 496-0721">602.496.0721</a> M-F 9am-4:30pm</p>

                        <li style="font-weight:bold">ASU Environmental Health &amp; Safety</li>
                        <p><a href="tel:1(480) 965-1823">480.965.1823</a> Mon-Fri, 8am-5pm. Nights and weekends call the ASU Police.</p>
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
            </div>

                <!---Quiz--->
            <div data-role="collapsible">
                <h3>Biological Spills Safety Quiz</h3>
                <div>
                    <p>Take biological spills quiz:</p>
                    <a data-ajax = "false" href="BiologicalSpillQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>

            </div> <!---End biological spill sub-sections--->
        </div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>
