

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Centerpoint</h3>

	<p style="text-align:center"><strong>Address: </strong>660 S. Mill Avenue</p><hr><br>
	<ul>
		<li>1st Floor next to the elevators</li>
		<li>3rd Floor across from elevator near room 312</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>


