

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Coor Hall</h3>

	<p style="text-align:center"><strong>Address: </strong>976 S. Forest Mall</p><hr><br>
	<ul>
	   <li>Lower Level corridor next to room L1-00U4</li>
	   <li>1st Floor Computing Commons room 150, by exit doors</li>
        <li>2nd Floor near room 2201 and exit doors</li>
        <li>3rd Floor around corner from room 3501</li>
        <li>4th Floor across from room 4411, near the double doors</li>
        <li>5th Floor across from room 5501, around corner from exit doors</li>
        <li>6th Floor next to room 6601</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



