

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Discovery Hall</h3>

	<p style="text-align:center"><strong>Address: </strong>250 E. Lemon Street </p><hr><br>
	<ul>
	<li>1st Floor corridor, near room 150 across from room 144</li>
	<li>2nd Floor corridor near room 250</li>
	<li>3rd Floor corridor near east stairwell</li>

	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>




