

<!-------------------------->
<!------EMERGENCY FIRE------>
<!-------------------------->
<div data-role="page"  id="emergencyFire">

        <!--header-->
  {% with page_title='Fire Emergency'%}
  {% include 'includes/headerBar.html' %}
  {% endwith %}

    <div data-role="content">
      <h3 style="color:#800000;text-align: center">Fire Emergency</h3><hr><br>

      <li style="text-align: center">Are you trapped in a room?</li>

      <a href="#trappedYes" data-role="button">Yes</a>
      <a href="#trappedNo" data-role="button">No</a><br><br>

      <hr>
      <h4>*NOTE: If you discover a fire or a smoke, only use the fire extinguisher if the fire is very small and you have been trained to do so. Otherwise, leave immediately and make sure the building alarm is activated.</h3>

      <h4 style="color:#800000;text-align: center">Click below for quick tips on how to use a fire extinguisher</h3><br>
      <a href="#exTips" data-role="button">Learn more!</a><br><br>

      <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>
    </div>


<!------CALL 911 POPUP------->
<div data-role="popup" id="callPopup">

  <div data-role="content">
      <p style="text-align:center">    Call 911:    </p><br>
      <a href="tel:911" data-role="button" data-inline="true">Yes</a>
      <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
  </div>
</div>


    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>
<!------EXTINGIUSHER TIPS------->

<div data-role="page"  id="exTips">

      <!--header-->
  {% with page_title='Fire Emergency'%}
  {% include 'includes/headerBar.html' %}
  {% endwith %}


  <div data-role="content">
    <h3 style="color:#800000;text-align: center">Fire Extinguisher Quick Tips</h3><hr><br>
    <h3 style="color:#800000;text-align: center"> Step 1</h3><br>

    <h3 style="text-align: center">Pull the pin from the top of the fire extinguisher</h3><br><br>
    <h3 style="color:#800000;text-align: center"> Step 2</h3><br>

    <h3 style="text-align: center">Aim the nozzle at the fire</h3><br><br>
    <h3 style="color:#800000;text-align: center"> Step 3</h3><br>

    <h3 style="text-align: center">Squeeze the handle to discharge the agent on the fire</h3><br><br>
    <h3 style="color:#800000;text-align: center"> Step 4</h3><br>

    <h3 style="text-align: center">Sweep the nozzle left-to-right at the base of the fire and continue discharging a few seconds after all flames are gone.</h3><br><br>


  </div>
</div>

  <!--footer-->
{% include 'includes/footerBar.html' %}


<!------------------------->
<!------TRAPPED YES-------->
<!------------------------->
<div data-role="page"  id="trappedYes">

        <!--header-->
  {% with page_title='Fire Emergency'%}
  {% include 'includes/headerBar.html' %}
  {% endwith %}

    <div data-role="content">

      <h3 style="color:#800000;text-align: center"> Step 1</h3>
      <hr><br>
      <h3 style="text-align: center">Check if the Alarm is sounding, if is it not, find and activate the alarm loacted near the exits</h3><br><br>
      <h3 style="color:#800000;text-align: center"> Step 2</h3>
      <hr><br>
      <h3 style="text-align: center">Close as many doors as possible between you and the fire</h3><br><br>
      <h3 style="color:#800000;text-align: center"> Step 3</h3>
      <hr><br>
      <h3 style="text-align: center">Wet and place a cloth material around or under the door to prevent smoke from enter in the room</h3><br><br>
      <h3 style="color:#800000;text-align: center"> Step 4</h3>
      <hr><br>
      <h3 style="text-align: center">Call 911 for further instructions, then signal for help if the room has an outside window</h3><br><br>

      <li style="text-align: center;font-weight:strong">NOTE: If smoke is present stay near the ground, hold your breath as much as possible, breath through your nose and use a filter such as a shirt or towel.</li>
      <a href="#callPopup1" data-rel="popup" data-role="button" >Call 911</a><br><br>

    </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}

    <!------CALL 911 POPUP------->
   <div data-role="popup" id="callPopup1">

        <div data-role="content">
            <p style="text-align:center">    Call 911:    </p><br>
            <a href="#" data-role="button" data-inline="true">Yes</a>
            <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
        </div>
    </div>

</div>


<!------------------------->
<!-------TRAPPED NO-------->
<!------------------------->
<div data-role="page"  id="trappedNo">

        <!--header-->
{% with page_title='Fire Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align: center">Step 1</h3><hr><br>
        <h3 style="text-align: center">Locate the nearest Exit and safely leave the building, if you are unable to safely get to an exit, remain calm and call 911 and await for instructions</h3><br><br>
        <h3 style="color:#800000;text-align: center">Step 2</h3><hr><br>
        <h3 style="text-align: center">Once you have safetly exited, immediately notify emergency personnel of any persons trapped in the building</h3><br><br>


        <a href="#callPopup2" data-rel="popup" data-role="button" >Call 911</a><br><br>
    </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}



    <!------CALL 911 POPUP------->
    <div data-role="popup" id="callPopup2">

        <div data-role="content">
            <p style="text-align:center">    Call 911:    </p><br>
            <a href="#" data-role="button" data-inline="true">Yes</a>
            <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
        </div>
    </div>
  </div>
