

<!--------------------------->
<!----suspicious package----->
<!--------------------------->
    <div data-role="page"  id="">

        <!--header-->
    {% with page_title='Suspicious Package Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Suspicious Package Emergency</h3><hr><br>
        <ul>
            <li>DO NOT touch it, tamper with it, or move it!</li><br>
            <li>Immediately dial 911:</li><br/>
        </ul>
          <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>
        <ul>
            <li>Refer to the <b>Suspicious Package Checklist</b> for further instructions:</li>
        </ul><br>
        <div data-role="collapsible">
            <h3>Package Checklist</h3>
            <br><b>Inspection of Packages<br>Look For:</b><br>
                <ul>
                    <li>Foreign mail, air mail, and special deliveries</li><br>
                    <li>Restrictive markings such as "confidential" or "personal"</li><br>
                    <li>Excessive postage</li><br>
                    <li>Handwritten or poorly typed address</li><br>
                    <li>Incorrect titles</li><br>
                    <li>Misspellings of common words</li><br>
                    <li>Oily stains or discolorations on package</li><br>
                    <li>Excessive weight</li><br>
                    <li>Rigid, lopsided, or uneven envelopes</li><br>
                    <li>Protruding wires or tinfoil</li><br>
                    <li>Excessive tape or string</li><br>
                    <li>Visual distractions</li><br>
                    <li>No return address</li><br>
                    <hr>
                </ul>

                <br><b>Handling Suspicious Packages:</b><br>
                <ul>
                    <li>Do not open or shake it</li><br>
                    <li>Do not carry or show to others</li><br>
                    <li>Do not sniff, touch, taste</li><br>
                    <li>Do place on stable surface, preferable a Bio-Safety Cabinet.</li><br>
                    <li>Do alert others in the area</li><br>
                    <li>Leave the area, close doors and prevent others from entering by using signs or guarding</li><br>
                    <li>Wash hands with soap and water</li><br>
                    <li>Create a list of persons in the room where the package was received</li><br>
                </ul>
        </div>
    </div>


    <!--footer-->
	{% include 'includes/footerBar.html' %}

  <!------911 popup------->
  <div data-role="popup" id="911popup">
      <div data-role="content">
      <p style="text-align:center;font-weight:bold">      Call 911:      </p>
      <p style="text-align:center">911</p>
              <div style="text-align:center">
            <a href="tel:911" data-role="button" data-inline="true">Yes</a>
            <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
              </div>
      </div>
  </div>

</div>
