
        
<!-------------------------->    
<!----EMERGENCY FLOOD----->
<!-------------------------->
    <div data-role="page"  id="">       
    
        <!--header-->
    {% with page_title='Power Outage'%}
{% include 'includes/headerBar.html' %}
{% endwith %}
    
    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Power Outagey</h3><hr><br>
        <ul>
        <li>Remain calm and don't panic</li><br>
        <li>Locate flashlight </li><br>
        <li>Report minor outages to Facilities Management</li><br>
        <li>For major outages, follow instructions of ASU Police</li><br>
        <li>Open windows/doors for ventilation</li><br>
        <li>Unplug/turn off electronics</li><br>
        <li>Secure belongings</li><br>
        <li>For evacuation guidlines see link below:</li>
        </ul>
        
        <a href="evacuationGuide.html" data-role="button">Evacuation Guide</a>         
    </div>
        
    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>
  
