

<!-------------------------->
<!----EMERGENCY FLOOD----->
<!-------------------------->
    <div data-role="page"  id="">

        <!--header-->
    {% with page_title='Flood Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Flood Emergency</h3><hr><br>

        <li style="text-align: center">Are you experiencing <span style="font-weight: bold;">Minor</span> or <span style="font-weight: bold;">Major</span> flooding?<br></li><br>

        <p>Choose one:</p>
        <a href="#minor" data-role="button">Minor</a>
        <a href="#major" data-role="button">Major</a>

        <br><br>

        <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>
      </div>


    <!------CALL 911 POPUP------->
    <div data-role="popup" id="callPopup">

    <div data-role="content">
        <p style="text-align:center">    Call 911:    </p><br>
        <a href="tel:911" data-role="button" data-inline="true">Yes</a>
        <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
    </div>


    </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>

<!------------------------->
<!------minor flooding----->
<!------------------------->
    <div data-role="page"  id="minor">

        <!--header-->
    {% with page_title='Flood Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}


    <div data-role="content">
        <h3 style="color:#800000;text-align: center">Minor Flooding</h3><hr><br>
        <h3 style="text-align:center"><span style="font-weight: bold;">Do the following:</span></h3>
        <ul>
        <li>Secure vial equipment, records, chemicals, etc.</li><br>
        <li>Move to higher, safer ground</li><br>
    		<li>Shut off electrical equipment</li><br>
    		<li>Secure laboratory experiments</li><br>
        <li>Assist those with special needs</li><br>
        </ul>
        <a href="contactPage.html" data-role="button">Emergency Contacts</a><br><br>

        <a href="#callPopup#1" data-rel="popup" data-role="button">Call 911</a>
      </div>


  <!------CALL 911 POPUP------->
  <div data-role="popup" id="callPopup#1">

    <div data-role="content">
        <p style="text-align:center">    Call 911:    </p><br>
        <a href="tel:911" data-role="button" data-inline="true">Yes</a>
        <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
    </div>
  </div>


  <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>

<!------------------------->
<!-------major flood------->
<!------------------------->
<div data-role="page"  id="major">

        <!--header-->
    {% with page_title='Flood Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Major Flooding</h3><hr><br>
        <ul>
          <li>Notify emergency personnel if others are still inside building</li><br>
          <li>Await instructions from ASU Police Department</li><br>
          <li>Evacuate from campus immediately, as directed by Police & Fire officials.</li><br>
          <li>DO NOT return to your building unless instructed to do so.</li>
          <li>Follow instructions from ASU emergency personnel and take immediate action.</li><br>
          <li>Use extreme caution around appliances or outlets.</li>

        </ul>
        <a href="contactPage.html" data-role="button">Emergency Contacts</a><br><br>

        <a href="#callPopup#2" data-rel="popup" data-role="button">Call 911</a>
      </div>


  <!------CALL 911 POPUP------->
  <div data-role="popup" id="callPopup#2">

    <div data-role="content">
        <p style="text-align:center">    Call 911:    </p><br>
        <a href="tel:911" data-role="button" data-inline="true">Yes</a>
        <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
    </div>
  </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>
