

<!-------------------------->
<!----EMERGENCY FLOOD----->
<!-------------------------->
    <div data-role="page"  id="">

        <!--header-->
    {% with page_title='Power Outage'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Power Outage</h3><hr><br>
        <ul>
        <li>Remain calm and don't panic</li><br>
        <li>Locate flashlight </li><br>
        <li>Report minor outages to Facilities Management</li><br>
        <li>For major outages, follow instructions of ASU Police</li><br>
        <li>Open windows/doors for ventilation</li><br>
        <li>Unplug/turn off electronics</li><br>
        <li>Secure belongings</li><br>
        </ul>

        <hr>

        <h3><b>Quick tips:</b></h3>
        <ul>
          <li>Walk, do not run</li>
          <li>Do NOT use elevators</li>
          <li>Gather outside at a designated staging area and wait for your supervisor to take roll</li>
          <li>Do NOT re-enter the building unless it is instructed from ASU police or other local law enforcement agency</li>
        </ul>
        <br><br>

        <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>
      </div>


  <!------CALL 911 POPUP------->
  <div data-role="popup" id="callPopup">

    <div data-role="content">
        <p style="text-align:center">    Call 911:    </p><br>
        <a href="tel:911" data-role="button" data-inline="true">Yes</a>
        <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
    </div>

  </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>
