
<!-------------------------->
<!-----INJURY EMERGENCY----->
<!-------------------------->
    <div data-role="page"  id="">

        <!--header-->
    {% with page_title='Injury Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}
    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Injury Emergency</h3><hr><br>
        <li style="text-align: center">For all 'serious' injuries, please immediately call 911
        </li>
        <a href="#911popup" data-rel="popup" data-role="button">Call 911</a><br><hr><br>
        <li>To obtain medical attention at Campus Health by campus (See <a href="contactPage.html">Emergency Contacts</a>).</li>
        <br><br>

        <h3>For <b>heart-related</b> injuries<br></h3><br>
        <h3 style="text-align:center"><span style="font-weight: bold;">Do the following:</span></h3>
        <ul>
            <li>Get victim to cool place.</li><br>
            <li>Loosen tight clothing.</li><br>
		        <li>Apply cool, wet cloths to the skin.</li><br>
		        <li>Fan the victim.</li><br>
            <li>If conscious, give cool water to drink.</li><br>
            <li>If conscious, give cool water to drink.</li><br>
            <li>Call 911 for a anmbulance if victim refuses water, vomits or loses consciousness.</li>
        </ul>
        <hr>
        <h3>For <b>minor cut or puncture</b> injuries<br></h4><br>
        <h3 style="text-align:center"><span style="font-weight: bold;">Do the following:</span></h3>
        <ul>
            <li>Vigorously wash injury with soap and water for serveral minutes.</li><br>
            <li>If impaled by foreign object DO NOT remove the object. Seek medical attention immediately.</li>
		    </ul>
        <hr>
        <h3>For <b>material in eye</b><br></h3><br>
        <h3 style="text-align:center"><span style="font-weight: bold;">Do the following:</span></h3>
        <ul>
            <li>Immediately rinse eye with water continuously for 15 minutes.</li><br>
            <li>Forcably hold eye open while washing.</li><br>
        </ul>


    </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}
        <!------CALL 911 POPUP------->
    <div data-role="popup" id="911popup">

        <div data-role="content">
            <p style="text-align:center">    Call 911:    </p><br>
            <a href="tel:911" data-role="button" data-inline="true">Yes</a>
            <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
        </div>
    </div>

</div>
