    <!--footer-->
    {% include 'includes/footerBar.html' %}

    </div>

    <div data-role="page"  id="emergencyPage">

        <!--header-->
  {% with page_title='Emergency'%}
  {% include 'includes/headerBar.html' %}
  {% endwith %}

    <div data-role="content center">
        <h3 style="color:#800000;text-align: center">What Type of Emergency?</h3>

          <div class="center fancy-sq-container">
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyFire.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Fire</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyFlood.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Flooding</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyPower.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Power Outage</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyInjury.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Personal Injury</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyMedical.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Medical Emergency</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyAccident.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Major Accident</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyHazMat.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Hazardous Materials</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyAssault.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Personal Threat, Assault, Civil Disturbance</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyEvac.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Evacuation</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyShooter.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Active Shooter</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyWeather.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Natural / Weather Disaster</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencySpill.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Radiation / Biological Spills</div></a>
            <div class="col col-1 my2">&nbsp;</div>
            <div class="col col-1 my2">&nbsp;</div>
            <a href="emergencyBomb.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Bomb Threat</div></a>
            <div class="col col-2">&nbsp;</div>
            <a href="emergencyPackage.html" data-ajax="false"><div class="col col-4 fancy-square flex items-center justify-center px2 my2"><div class="col col-4 fancy-square flex items-center justify-center px2 my2">Suspicious Package</div></div></a>
            <div class="col col-1 my2">&nbsp;</div>
        </div>

        <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>

    </div>


    <!------CALL 911 POPUP------->
  <div data-role="popup" id="callPopup">

      <div data-role="content">
          <p style="text-align:center">    Call 911:    </p><br>
          <a href="tel:911" data-role="button" data-inline="true">Yes</a>
          <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
      </div>
  </div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}
    </div>
