
    
<!---------------------------->    
<!-----Emergency Start-------->
<!---------------------------->
    <div data-role="page"  id="emergencyPage">       
    
        <!--header-->
    {% with page_title='Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}
    
    <div data-role="content">
        <h3 style="color:#800000;text-align: center">Do You Have An Emergency?</h3><hr><br>        
                 
        <a href="#emergencyYes" data-role="button">Yes</a>
        <a href="#emergencyNo" data-role="button">No</a>        
        <div>
            <ul>
                <li>If you are NOT experiencing an emergency refer to <b>READ GUIDE</b> section on previous page or select <b>No</b>.</li>
            </ul>
        </div>
    </div>
        
    <!--footer-->
	{% include 'includes/footerBar.html' %}

    </div>       
    
<!--- --------------------->    
<!------EMERGENCY-NO------->
<!------------------------->
    <div data-role="page"  id="emergencyNo">       
    
        <!--header-->
    {% with page_title='Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}
    
    <div data-role="content">
        <h3 style="color:#800000;text-align: center">You Don't Have an Emergency</h3><hr><br>             
        <li style=text-align:center>Please refer to the Read Guide section.</li>        
        <a href="homePage.html" data-role="button">Back</a>
    </div>
        
    <!--footer-->
	{% include 'includes/footerBar.html' %}
    </div>
            
<!-------------------------->    
<!-------Emergency Yes------>
<!-------------------------->
    <div data-role="page"  id="emergencyYes">       
    
        <!--header-->
    {% with page_title='Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}
    
    <div data-role="content">    
        <h3 style="color:#800000;text-align: center">What Type of Emergency?</h3> 
        
        <ul data-role="listview" data-inset="true">           
            <li><a href="emergencyFire.html" data-ajax="false">Fire</a></li>
            <li><a href="emergencyFlood.html" data-ajax="false">Flooding</a></li>
            <li><a href="emergencyPower.html" data-ajax="false" >Power Outage</a></li>
            <li><a href="emergencyInjury.html" data-ajax="false">Personal Injury</a></li>
            <li><a href="emergencyMedical.html" data-ajax="false">Medical Emergency</a></li>
            <li><a href="emergencyAccident.html" data-ajax="false">Major Accident</a></li>
            <li><a href="emergencyHazMat.html" data-ajax="false">Hazardous Materials</a></li>
            <li><a href="emergencyAssault.html" data-ajax="false">Personal Threat, Assault, Civil Disturbance</a></li>
            <li><a href="emergencyEvac.html" data-ajax="false">Evacuation</a></li>
            <li><a href="emergencyShooter.html" data-ajax="false">Active Shooter</a></li>
            <li><a href="emergencyWeather.html" data-ajax="false">Natural/Weather Disaster</a></li>
            <li><a href="emergencySpill.html" data-ajax="false">Radiation/Biological Spills</a></li>
            <li><a href="emergencyBomb.html" data-ajax="false">Bomb Threat</a></li>            
            <li><a href="emergencyPackage.html" data-ajax="dalse">Suspicious Package</a></li>        
        </ul>
    </div>
        
    <!--footer-->
	{% include 'includes/footerBar.html' %}
    </div>
        
