
<!----------------------->
<!----evac emergency----->
<!----------------------->
<div data-role="page"  id="">

        <!--header-->
    {% with page_title='Evacuation Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
    <h3 style="color:#800000;text-align: center">Evacuation Emergency</h3><hr>

    <h3> If you are able to safely evacuate the building, please do the following:</h3>

    <Ul>
        <li>Find the nearest exit and best route to follow.</li><br>
        <li>If time permits, secure workspace and take personal items.</li><br>
        <li>Walk, DO NOT run.</li><br>
        <li>DO NOT use elevators.</li><br>
        <li>If safe, assist those with special needs. If necessary, contact ASU Police for further assistance (See <a href="contactPage.html">Emergency Contacts</a>).</li><br>
        <li>Gather outside at designated staging area.</li><br>
        <li>Supervisor is responsible for accounting for all personnel.</li><br>
        <li>Wait for instructions from emergency personnel before returning to building.</li><br>
        <li>Contact ASU EH&S for personnel trained in proper clean-up and containment (See <a href="contactPage.html">Emergency Contacts</a>).</li>
    </Ul>

    <hr>

    <h3> If it NOT safe to exit the building, please do the following:</h3>
    <Ul>
        <li>If safe to do so, go to the nearest stariwell and tell someone who is evacuating to notify emergency personnel of your location and that you are unable to evacuate the building.</li><br>
        <li>Call 911 and tell them your name, location, that you are unable to evacuate and why.</li><br>
    </Ul>

    <a href="#callPopup" data-rel="popup" data-role="button">Call 911</a>
  </div>


  <!------CALL 911 POPUP------->
  <div data-role="popup" id="callPopup">

  <div data-role="content">
      <p style="text-align:center">    Call 911:    </p><br>
      <a href="tel:911" data-role="button" data-inline="true">Yes</a>
      <a href="javascript:history.go(-1)" data-role="button" data-inline="true">No</a><br>
  </div>
</div>

    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>
