<div data-role="page" id="extras">
{% with page_title='Extras'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<br>
<br>
<div class="clearfix mxn2 circle-container">
  <div class="col-10 px2 mx-auto">
    <a href="games/endless.html" data-ajax="false">
      <div class="mx-auto home-rd-button big-button center" style="background-color: #FFC627">
        <div class="clearfix">
          <i class="material-icons mt3">videogame_asset</i><br>
        </div>
        Sparky Game
      </div>
    </a>
  </div>
</div>
<br>
<br>
<div class="clearfix mxn2 circle-container">
  <div class="col-10 px2 mx-auto">
    <a href="quizPage.html" data-ajax="false">
      <div class="mx-auto home-rd-button big-button center" style="background-color: #00A3E0">
        <div class="clearfix">
          <i class="material-icons mt3">book</i><br>
        </div>
        Quizzes
      </div>
    </a>
  </div>
</div>


{% include 'includes/footerBar.html' %}
</div>
