<!-------------------------->
<!-----------FLOOD---------->
<!-------------------------->    
<div data-role="page"  id="floodGuide">

    <!--header-->
    {% with page_title='Flood'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Flood Emergency</h3>

           <!---Flooding sub-sections (Collapsible set)------>
            <!--General-->
            <div data-role="collapsible-set" data-inset="true">
        
                <div data-role="collapsible">
                    <h3>General</h3>
                        <ul>
                            <li>Warn others of the hazard.</li><br/>
                            <li>Building occupants should immediately report flooding or incidents of standing water to the ASU Police or local law enforcement agency.  They will dispatch the appropriate departments for assistance.</li><br/>
                            <li>Secure vital equipment, records, and chemicals (move to higher, safer ground). Shut off all electrical equipment. Secure all laboratory experiments.</li><br/>
                            <li>Use extreme caution around appliances or outlets near the leak and/or water.</li><br/>
                            <li>Avoid puddles and wet areas as the floor may be slick.</li><br/>
                            <li>Follow instructions of first responders regarding building evacuation.</li><br/>
                            <li>Notify emergency personnel if others are still inside the building.</li><br/>
                        </ul>

                </div>
               

                <!---Contact--->
                <div data-role="collapsible">
                    <h3>Emergency Contacts</h3>
                    <div>                        
                        <li style="font-weight:bold">Facilities Management</li>
                        <p>Tempe <a href="tel:1(480) 965-3633">480.965.3633</a> |Poly <a href="tel:1(480) 727-1110">480.727.1110</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3200">602.543.3200</a> | Downtown <a href="tel:1(602) 496-2500">602.496.2500</a> or <a href="tel:1(602) 496-1502)">602.496.1502</a> for Mercado</p>               
                    
                        <li style="font-weight:bold">ASU Police by campus:</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p> 
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
                </div>

                <!---Quiz--->
                <div data-role="collapsible">
                    <h3>Flooding Safety Quiz</h3>
                    <div>
                        <p>Take flooding safety quiz:</p>
                        <a data-ajax = "false" href="FloodingQuiz.html" data-role="button">Take Quiz</a>
                    </div>
                </div>

            </div> <!---End flood sub-sections--->
        </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>