

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Fulton Center</h3>

	<p style="text-align:center"><strong>Address: </strong>300 E. University Drive</p><hr><br>
	<ul>
		<li>1st floor next to the restrooms on the south end </li>
		<li>1st floor next to service elevator east end </li>

	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>



