

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Grady Gammage Auditorium</h3>

	<p style="text-align:center"><strong>Address: </strong>1200 S. Forest Avenue</p><hr><br>
	<ul>
	<li>Hat Check East By Box Office, near the restroom and portal 2</li>
	<li>Hat Check North West near restroom and portal 1</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



