<!-------------------------------------------->
<!--------HAZARDOUS MATERIALS INCIDENT-------->
<!-------------------------------------------->
<div data-role="page" id="hazardGuide">

     <!--header-->
	{% with page_title='Hazardous Materials Incident'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}


    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Hazardous Materials Incident</h3>
        <!--- Sub-sections (Collapsible set)------>
        <div data-role="collapsible-set" data-inset="true">
       
            <div data-role="collapsible">
                <h3>General</h3>
                <ul>
                    <li>A hazardous materials incident is considered a spill of any of the following: Chemicals (liquid and solids), Hazardous waste, or Oils (fuel oil: diesel and gasoline).</li><br/>
                    <li>Only Trained and Authorized Personnel Are Permitted to Respond to Hazardous Materials Incident.</li><br/>
                    <li>Employees must be trained in the safe use of chemicals and chemical waste management prior to working in a laboratory or cleaning up minor spills.</li><br/>
                    <li>A minor spill is one trained employees are capable of containing safely without assistance from EH&S or emergency personnel. </li><br/>
                    <li>All other spills considered major. For additional guidance on chemical safety, refer to the <a href="https://cfo.asu.edu/ehs-hazmat-compliance-guidelines"  onClick="javascript:return openExternal(this)">Hazardous Waste Management Compliance Guide</a>.</li><br/>
                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>Major Spill/Leak</h3>
                <ul>
                    <li>If conditions warrant, activate nearest fire alarm.</li><br/>
                    <li>Immediately evacuate the area, closing doors behind you.  Refer to  the <a href="evacuationGuide.html">Evacuation</a> section of this guide.</li><br/>
                    <li>Call 911.</li><br/>
                    <li>DO NOT attempt to clean up the spill yourself.</li><br/>
                    <li>Provide Safety Data Sheets and other pertinent information to response personnel.</li><br/>
                </ul>
            </div>
               
            <div data-role="collapsible">
                <h3>Minor Spill/Leak</h3>
                <div>
                    <ul>
                        <li>Do not attempt to clean-up even a minor spill unless you feel comfortable doing so.</li><br/>
                        <li>NEVER attempt to clean-up a spill if you are alone.</li><br/>
                        <li>Alert people in the immediate area.</li><br/>
                        <li>Wear proper protective equipment before attempting to clean up.</li><br/>
                        <li>Avoid breathing vapors and confine spill to a small area.</li><br/>
                        <li>DO NOT ALLOW ANYTHING TO DISCHARGE INTO DRAINS!</li><br/>
                        <li>Use your spill kit.</li><br>
                        <li>Bag cleanup material and label with Hazardous Waste Label.</li><br>
                        <li>Contact EH&S for waste removal at the number listed in the attached contacts page Monday-Friday 8:00 a.m. to 5:00 p.m. (leave a detailed message after hours).</li><br>
                    </ul>
                </div>
            </div>
            
            <div data-role="collapsible">
                <h3>Chemical Spill on Body</h3>
                <ul>
                    <li>Register for Training: Laboratory Chemical Safety or Hazardous Waste Management Techniques <a href="https://cfo.asu.edu/ehs"  onClick="javascript:return openExternal(this)">Environmental Health & Safety website</a>.</li> <br/>
                    <li>Flood exposed area with running water for at least 15 minutes.</li><br/>
                    <li>Avoid contact with eyes.</li><br/>
                    <li>Remove any contaminated clothing, place into plastic bag and seal.</li><br/>
                    <li>Ensure no contamination in shoes or under jewelry.</li><br/>
                    <li>Check Material Safety Data Sheets to determine if delayed effects may be expected.</li><br/>
                    <li>Obtain medical attention at the nearest ASU Health Services, urgent care or hospital. For locations nearest you, contact ASU Health Services using the number listed in the contacts page.</li><br/>
                    <li>Report all incidents to a supervisor. The supervisor is responsible for workers compensation paperwork.</li><br/>
                </ul>
            </div>

            <div data-role="collapsible">
                <h3>Respond to Incident</h3>
                <ul>
                    <li>Register for Training: Laboratory Chemical Safety or Hazardous Waste Management Techniques <a href="https://cfo.asu.edu/ehs"  onClick="javascript:return openExternal(this)">Environmental Health & Safety website</a>.</li><br>
                    <li>REPORT INCIDENT to supervisor. Supervisor is responsible to notify ASU Environmental Health & Safety (EH&S).</li><br>
                    <li><b>Contact ASU Environmental Health & Safety</b> (See <a href="contactPage.html">Emergency Contacts</a> section) which has personnel trained in the proper clean-up and containment of minor hazardous spills or releases.</li><br>                    
                </ul>
            </div>
            
            <!---Contact--->
            <div data-role="collapsible">
                <h3>Emergency Contacts</h3>
                 <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                       
                        <li style="font-weight:bold">Campus Health by campus</li>                      
                        <p>Tempe <a href="tel:1(480) 965-3349">480.965.3349</a> | Poly <a href="tel:1(480) 727-1500">480.727.1500</a> | West <a href="tel:1(602) 543-8019">602.543.8019</a> | Downtown <a href="tel:1(602) 496-0721">602.496.0721</a> M-F 9am-4:30pm</p>          
                        
                        <li style="font-weight:bold">ASU Environmental Health & Safety</li>
                        <p><a href="tel:1(480) 965-1823">480.965.1823</a> Mon-Fri, 8am-5pm. Nights and weekends call the ASU Police.</p>  
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
            </div>

                <!---Quiz--->
            <div data-role="collapsible">
                <h3>Hazard Safety Quiz</h3>
                <div>
                    <p>Take hazardous materials quiz:</p>
                    <a data-ajax = "false" href="HazardousMaterialsQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>
            
            <!---Training--->
                <div data-role="collapsible">                    
                    <h3>Hazardous Materials Training</h3>
                    <div>  
                        <p>Register for Hazardous Materials Training:</p>
                        <a href="trainingPage.html" data-role="button">Training Page</a>
                    </div> 
                </div> 

            </div> <!---End collapsible set--->
        </div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}


</div>
    