

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Student Health Services</h3>

	<p style="text-align:center"><strong>Address: </strong>451 E. University Drive</p><hr><br>
	<ul>
	<li>In cabinet across from Nursing station and room 113, not accesible to the public</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



