
   <script src='intelxdk.js'></script>
    <script src='cordova.js'></script>
<!-------------------------->
<!---------HELP PAGE-------->
<!-------------------------->
    <div data-role="page"  id="helpPage">

        <!--header-->
    {% with page_title='Emergency Response Guide'%}
{% include 'includes/headerBar.html' %}
{% endwith %}<br>
    <h3 style="color:#800000;text-align: center">ERG Help</h3>

	<!-----Help content------>
    <div data-role="content">

        <hr><h3>About the Emergency Response Guide</h3>
        <p>Information about the Emergency Response Guide can be found in the <a href="aboutPage.html">About</a> section of the guide.</p>
        <hr><h3>Emergency</h3>
        <p>In the event of an emergency, select the <a href="emergencyPage.html">Emergency</a> link found on the home page. This section will guide you through the proper steps to follow in the event of a given emergency situation</p>
        <hr><h3>Read Guide</h3>
        <p>The <a href="readGuide.html">Read Guide</a> link provided on the home page will provide information that will help you prepare and know the proper steps to follow in the event of an emergency situation.</p>
        <hr><h3>Tools</h3>
        <p>The <a href="toolsMenu.html">Tools</a> section found on the home page provides links to ERG resources such as Campus Maps, Emergency Contacts, Alerts and Trainings.</p><hr>
        <hr><h3>Extras</h3>
        <p>The <a href="extras.html">Extras</a> section found on the home page provides fun, safety related games and quizzes to better prepare you for emergencies and jumping over small flames and whatever else we decide to put there. We'll update this once it's done</p><hr>
    </div><br>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

    </div>
