
    
<!-------------------------->    
<!---------HOME PAGE-------->
<!-------------------------->
    <div data-role="page"  id="homePage">       
    
        <!--header-->
    {% with page_title='Main Menu'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}
    
    <img src="asulogo.jpg" style="width: 100%"/>
    <br><h3 style="color:#800000;text-align: center">ASU Emergency Response</h3>
	
	<!-----Home menu------>
    <div id="homePageContent" data-role="content">
        <a style="color:#800000" href="emergencyPage.html" data-role="button" data-ajax="false">Emergency</a>
        <a href="readGuide.html" data-role="button">Read Guide</a>
        <a href="#toolsPage" data-role="button">Tools</a>        
    </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div> <!--end homePage-->
    
<!-------------------------->    
<!--------TOOLS PAGE-------->
<!-------------------------->
    <div data-role="page"  id="toolsPage">       
    
        <!--header-->
    {% with page_title='Tools'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}
    
    <br><h3 style="color:#800000;text-align: center">ASU Emergency Response Tools</h3>
	
	<!-----Tools menu------>
    <div data-role="content">
            <a href="alertPage.html" data-role="button" data-ajax="false">Alerts</a>
            <a href="trainingPage.html" data-role="button">Training</a>
		    <a href="contactPage.html" data-role="button">Contacts</a>
            <a href="mapPage.html" data-role="button" data-ajax="false">Map</a>
            <a href="quizPage.html" data-role="button">Quizzes</a>           
		    <a href="AED.html" data-role="button">AEDs</a>
   </div>  	

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div> 
    
