

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">School of Human Evolution and Social Change</h3>

	<p style="text-align:center"><strong>Address: </strong>900 S. Cady Mall</p><hr><br>
	<ul>
	<li>1st floor next to room 140 </li>
	<li>2nd floor next to 216</li>
	<li>3rd floor next to room 315</li>

	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



