<!-------------------------->
<!-----Personal Injury------>
<!-------------------------->    
<div data-role="page"  id="injuryGuide">

    <!--header-->
	{% with page_title='Personal Injury'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Personal Injury Emergency</h3>
        
        <ul>        
            <li>In all <b>serious cases</b> call 911 for emergency treatment.</li><br>        
        </ul>
            
        
           <!--- Sub-sections (Collapsible set)------>
            <div data-role="collapsible-set" data-inset="true">

                <div data-role="collapsible">
                   <h3>General</h3>
                   <ul>
                       <li>If the injury is a medical emergency, call 911.</li><br/>
                       <li>Learn and know where the location of the First Aid Kit, nearest safety shower, nearest safety eyewash, and nearest telephone are.</li><br/>
                       <li>Obtain medical attention at the Campus Health by campus.</li><br/>
                       <li>Report incident to supervisor. Supervisor is responsible for notifying ASU Environmental Health and Safety Department.</li><br/>
                       
                   </ul>
                </div>
                
                <div data-role="collapsible">
                    <h3>Heart Related Illnesses</h3>
                    <div>
                        <ul>
                            <li>Call 911.</li><br/>
                            <li>Get victim to a cool place.</li><br/>
                            <li>Loosen tight clothing.</li><br/>
                            <li>Apply cool, wet cloths to the skin.</li><br/>
                            <li>Fan the victim.</li><br/>
                            <li>If victim is conscious, give cool (not cold) water to sip.</li><br/>
                            
                        </ul>
                    </div>
                </div>
                
                <div data-role="collapsible">
                    <h3>Cardiac Arrest</h3>
                        <ul>
                            <li>Call 911.</li><br/>
                            <li>See the <a href="medicalGuide.html">Medical Emergency</a> section of the guide for instructions on CPR and AEDs.</li><br/>
                            <li>Locate the nearest AED(s) within the building or in a nearby building.</li><br/>
                            <li>The use of an AED is necessary to revive a victim of cardiac arrest.  The unit is automated, will give verbal instructions regarding proper use, and will only shock when the victim's condition warrants a shock.</li><br/>
                            
                        </ul>

                </div>
                
                <div data-role="collapsible">
                    <h3>Minor Cuts & Punctures</h3>
                        <ul>
                            <li>For minor incidents: Vigorously wash injury with soap and water for several minutes.</li><br/>
                            <li>For serious incidents: Call 911 and seek medical attention immediately.</li><br/>
                            <li>If impaled by a foreign object - DO NOT remove the object and wait for medical attention to arrive.</li><br/>
                                                   
                        </ul>

                </div>
               <div data-role="collapsible">
                   <h3>Material Splashed in Eye</h3>
                   <ul>
                       <li>Immediately rinse eye and inner surface of eyelid with water continuously for a minimum of 15 minutes.</li><br/>
                       <li>Forcibly hold eye open to ensure effective wash behind eyelids.</li><br/>
                       
                   </ul>
            </div>
                <!---Contact--->
                <div data-role="collapsible">
                    <h3>Emergency Contacts</h3>
                    <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                       
                        <li style="font-weight:bold">Campus Health by campus</li>                      
                        <p>Tempe <a href="tel:1(480) 965-3349">480.965.3349</a> | Poly <a href="tel:1(480) 727-1500">480.727.1500</a> | West <a href="tel:1(602) 543-8019">602.543.8019</a> | Downtown <a href="tel:1(602) 496-0721">602.496.0721</a> M-F 9am-4:30pm</p>          
                        
                        <li style="font-weight:bold">ASU Environmental Health & Safety</li>
                        <p><a href="tel:1(480) 965-1823">480.965.1823</a> Mon-Fri, 8am-5pm. Nights and weekends call the ASU Police.</p>  
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
                </div>

                <!---Quiz--->
                <div data-role="collapsible">
                    <h3>Personal Injury Safety Quiz</h3>
                    <div>
                        <p>Take personal injury safety quiz:</p>
                        <a data-ajax = "false" href="PersonalInjuryQuiz.html" data-role="button">Take Quiz</a>
                    </div>
                </div>

            </div> <!---End personal injury sub-sections--->
        </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>