

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Interdisciplinary Science & Tech II</h3>

	<p style="text-align:center"><strong>Address: </strong>850 S. McAllister Avenue</p><hr><br>
	<ul>
	<li>1st Floor by room 105</li>
	<li>Mezzanine by room M1-05</li>
	<li>2nd Floor by room 291A</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



