

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Interdisciplinary Science & Tech I</h3>

	<p style="text-align:center"><strong>Address: </strong>550 E. Orange Street</p><hr><br>
	<ul>
	<li>1st Floor by rooms 151-181 and exit</li>
	<li>2nd Floor by elevators</li>
	<li>3rd Floor by elevators</li>
	<li>4th Floor by room 446</li>
	<li>Lower Level 2 Need Security Guard For Access</li>

	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>




