

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Manzanita Hall</h3>

	<p style="text-align:center"><strong>Address: </strong>600 E. University Drive</p><hr><br>
	<ul>
		<li>1st Floor Lobby</li>
		<li>7th Floor North Next To Elevators</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>




