
    <div data-role="page"  id="quizPage">

    <!--header-->
    {% with page_title='Medical Emergency'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align: center">Medical Emergency Quiz</h3><hr><br>

<script type="text/javascript">

var useranswers = new Array();
var answered = 0;

<!-----renderQuiz()---->
<!--------------------->
function renderQuiz() {

  for(i=0;i<questions.length;i++) {
    document.writeln('<p class="question">' + questions[i] + ' <span id="result_' + i + '"></span></p>');

    for(j=0;j<choices[i].length;j++) {
      document.writeln('<input type="radio" name="answer_' + i + '" value="' + choices[i][j] + '" id="answer_' + i + '_' + j + '" class="question_' + i + '" onclick="submitAnswer(' + i + ', this, \'question_' + i + '\', \'label_' + i + '_' + j + '\')" /><label id="label_' + i + '_' + j + '" for="answer_' + i + '_' + j + '"> ' + choices[i][j] + '</label><br />');
    }
  }
  document.writeln('<hr><p><input type="submit" value="Show Score" onclick="showScore()" /> <input type="submit" value="Reset Quiz" onclick="resetQuiz(true)" /><a style="text-decoration:none" href="quizPage.html"><button>Quiz Menu</button></a></p><p style="display:none"><img src="correct.gif" style="border:0" alt="Correct!" /><img src="incorrect.gif" style="border:0" alt="Incorrect!" /></p>');
}

<!-----resetQuiz()---->
<!--------------------->
function resetQuiz(showConfirm) {
  if(showConfirm)
    if(!confirm("Are you sure you want to reset your answers and start from the beginning?"))
      return false;
  document.location = document.location;
}

<!-----submitAnswer()---->
<!--------------------->
function submitAnswer(questionId, obj, classId, labelId) {
  useranswers[questionId] = obj.value;
  document.getElementById(labelId).style.fontWeight = "bold";
  disableQuestion(classId);
  if(answers[questionId] == useranswers[questionId]) {
    document.getElementById('result_' + questionId).style.color="green";
    document.getElementById('result_' + questionId).style.fontSize="large";
    document.getElementById('result_' + questionId).innerHTML = 'Correct';
  } else {
    document.getElementById('result_' + questionId).style.color="red";
    document.getElementById('result_' + questionId).style.fontSize="large";
    document.getElementById('result_' + questionId).innerHTML ="Wrong. The right answer is \"</b>"+answers[questionId]+"\"<br>";
  }
  answered++;
}

<!-----showScore()---->
<!--------------------->
function showScore() {

  if(answered != answers.length) {
    alert("You have not answered all of the questions yet!");
    return false;
  }

  questionCount = answers.length;
  correct = 0;
  incorrect = 0;

  for(i=0;i<questionCount;i++) {
    if(useranswers[i] == answers[i])
      correct++;
    else
      incorrect++;
  }

  pc = Math.round((correct / questionCount) * 100);
  alertMsg = "You scored " + correct + " out of " + questionCount + "\n\n";
  alertMsg += "You correctly answered " + pc + "% of the questions! \n\n";

  if(pc < 100) {
    if(confirm(alertMsg))
      resetQuiz(false);
    else
      return false;
  } else {
    alert(alertMsg);
  }
}

<!---disbleQuestion()-->
<!--------------------->
function disableQuestion(classId) {
  var alltags=document.all? document.all : document.getElementsByTagName("*")
  for (i=0; i<alltags.length; i++) {
    if (alltags[i].className == classId) {
      alltags[i].disabled = true;
    }
  }
}

<!-----start()---->
<!---------------->

var questions = new Array();
var choices = new Array();
var answers = new Array();
var response = new Array();

questions[0] = "1) When there is a medical emergency, you should call 911 first";
choices[0] = new Array();
choices[0][0] = "True";
choices[0][1] = "False";
answers[0] = choices[0][0];

questions[1] = "2) If the victim is not breathing, you should tilt the victim's head back, lift the chin, and pinch the nose shut before giving breaths";
choices[1] = new Array();
choices[1][0] = "True";
choices[1][1] = "False";
answers[1] = choices[1][0];

questions[2] = "3) If the victim is not breathing, you should give 2 short 1 second breaths and check for circulation";
choices[2] = new Array();
choices[2][0] = "True";
choices[2][1] = "False";
answers[2] = choices[2][0];

questions[3] = "4) The right way to check circulation is to gently ask the victim questions";
choices[3] = new Array();
choices[3][0] = "True";
choices[3][1] = "False";
answers[3] = choices[3][1];

questions[4] = "5) If there are signs of circulation but the victim is not breathing, you should give one breath every 2 seconds";
choices[4] = new Array();
choices[4][0] = "True";
choices[4][1] = "False";
answers[4] = choices[4][1];

questions[5] = "6) If there are signs of circulation but the victim is not breathing, you can give up rescue breathing in 10 minutes";
choices[5] = new Array();
choices[5][0] = "True";
choices[5][1] = "False";
answers[5] = choices[5][1];

questions[6] = "7) If there are signs of circulation but the victim is not breathing, it is time to initiate Cardio Pulmonary Resuscitation";
choices[6] = new Array();
choices[6][0] = "True";
choices[6][1] = "False";
answers[6] = choices[6][1];

questions[7] = "8) While doing Cardio Pulmonary Resuscitation, you should compress the victim's chect once every 5 seconds";
choices[7] = new Array();
choices[7][0] = "True";
choices[7][1] = "False";
answers[7] = choices[7][1];

questions[8] = "9) After Cardio Pulmonary Resuscitation, if there are signs of circulation but the victim is still not breathing, you should give one slow breath every 5 seconds";
choices[8] = new Array();
choices[8][0] = "True";
choices[8][1] = "False";
answers[8] = choices[8][0];

questions[9] = "10) You should continue CPR as long as the victim has no signs of circulation";
choices[9] = new Array();
choices[9][0] = "True";
choices[9][1] = "False";
answers[9] = choices[9][0];

questions[10] = "11) If there is AED available, you should always retrieve the AED whether the reponsder is trained with the use of an AED or not";
choices[10] = new Array();
choices[10][0] = "True";
choices[10][1] = "False";
answers[10] = choices[10][0];

questions[11] = "12) You should not use the AED on a patient laying in water";
choices[11] = new Array();
choices[11][0] = "True";
choices[11][1] = "False";
answers[11] = choices[11][0];

renderQuiz();
</script>
</div>
        <!--footer-->
	{% include 'includes/footerBar.html' %}
        </div>


