<!--------------------------------->
<!--------Medical Emergency-------->
<!--------------------------------->
<div data-role="page" id="medicalGuide">

     <!--header-->
	{% with page_title='Medical Emergency'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}


    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Medical Emergency</h3>
        
        <ul>
            
        </ul>
        <!--- Sub-sections (Collapsible set)------>
        <div data-role="collapsible-set" data-inset="true">

            <div data-role="collapsible">
                <h3>Victim is not breathing</h3>

                <b>Start Rescue Breaths:</b>
                <hr>
                <ul>
                    <li>Tilt the victim's head back, lift the chin, pinch the nose shut.</li>
                    <br />
                    <li>Give 2 short 1 second breaths (Breathe into victim until chest gently rises).</li>
                    <br />
                    <li>Check for circulation, breathing, coughing and/or movement</li>
                    <br />
                </ul>
                <b>If there are signs of circulation but not breathing</b>
                <hr>
                <ul>
                    <li>Give one slow breath every 5 seconds.</li>
                    <br />
                    <li>Re-check for circulation and breathing every minute. Keep rescue breathing until victim is breathing or medical assistance arrives.</li>
                    <br />
                </ul>

                <b>If no signs of circulation and still not breathing</b>
                <hr>
                <ul>
                    <li>Initiate Cardio Pulmonary Resuscitation (CPR)</li>
                    <br />

                </ul>
            </div>
            <div data-role="collapsible">
                <h3>Start CPR on Adult</h3>
                <ul>
                    <li>Make sure the victim is unconscious before performing CPR.</li>
                    <br />
                    <li>If you are untrained in CPR and you have immediate access to a phone, call 911 before beginning CPR to receive guidance.  If two people are available, one should perform CPR while the other calls 911.</li>
                    <br />
                    <li>If an AED is immediately available, deliver one shock if instructed by device, then begin CPR.</li>
                    <br />
                    <li>Find the notch where lower ribs meet the breastbone. Place the heel of your hand on the breastbone. Place your other hand on top of the first.</li>
                    <br />
                    <li>Position shoulders over hands. Use your upper body weight to compress chest 30 times (1-1/2 to 2 inches) using a smooth, even rhythm at a rate of 5 compressions per 3 seconds.</li>
                    <br />
                    <li>If you have been trained, clear the victim's airway by gently tipping the head back by lifting the chin with one hand and pushing down on the forehead with the other hand.</li>
                    <br />
                    <li>If you have been trained, give 2 short 1-second breaths.</li>
                    <br />
                    <li>Do five 5 more sets of 30 compressions and (if trained) 2 breaths.</li>
                    <br />
                    <li>If victim has not responded after 5 sets (about 2 minutes) and 911 has not been called yet, call 911 and continue CPR.</li>
                    <br />
                    <li>Check for signs of circulation.</li>
                    <br />
                    <li>If there are signs of circulation, but victim is still NOT BREATHING, give one slow breath every 5 seconds (10 to 12 times per minute)</li>
                    <br />
                    <li>If there are no signs of circulation and victim is not breathing, continue CPR.</li>
                    <br />
                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>Start CPR on Child Aged 1-8</h3>
                <ul>
                    <li>Make sure the victim is unconscious before performing CPR.</li>
                    <br />
                    <li>If two people are available, one should perform CPR while the other calls 911.  If alone, perform CPR for two minutes before calling 911.</li>
                    <br />
                    <li>Find the notch where lower ribs meet the breastbone. Place the heel of your hand on the breastbone. Use only one hand to perform compressions.</li>
                    <br />
                    <li>Position shoulders over hands. Use your upper body weight to compress chest 30 times (1-1/2 to 2 inches) using a smooth, even rhythm at a rate of 5 compressions per 3 seconds.</li>
                    <br />
                    <li>If you have been trained, clear the victim's airway by gently tipping the head back by lifting the chin with one hand and pushing down on the forehead with the other hand.</li>
                    <br />
                    <li>If you have been trained, give 2 short 1-second breaths.</li>
                    <br />
                    <li>Do five 5 more sets of 30 compressions and (if trained) 2 breaths.</li>
                    <br />
                    <li>If victim has not responded after 5 sets (about 2 minutes) and 911 has not been called yet, call 911 and continue CPR.</li>
                    <br />
                    <li>After the first 5 sets, administer the first shock with an AED.  After another 5 sets, administer a second shock.  If untrained, follow guidance from a 911 operator.  DO NOT use an AED on a child younger than age 1.</li>
                    <br />
                    <li>Check for signs of circulation.</li>
                    <br />
                    <li>If there are signs of circulation, but victim is still NOT BREATHING, give one slow breath every 5 seconds (10 to 12 times per minute)</li>
                    <br />
                    <li>If there are no signs of circulation and victim is not breathing, continue CPR.</li>
                    <br />
                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>Start CPR on a Baby</h3>
                <ul>
                    <li>If you think the baby has an airway obstruction, perform first aid for choking.  If you don't know why the baby isn't breathing, perform CPR.</li>
                    <br />
                    <li>If two people are available, one should perform CPR while the other calls 911.  If alone, perform CPR for two minutes before calling 911.</li>
                    <br />
                    <li>Place the baby on his or her back on a firm, flat surface, such as a table.  The floor or ground also will do.</li>
                    <br />
                    <li>Imagine a horizontal line drawn between the baby's nipples. Place two fingers of one hand just below this line, in the center of the chest.</li>
                    <br />
                    <li>Gently compress the chest about 1.5 inches (about 4 centimeters) in a smooth, even rhythm at a rate of 5 compressions per 3 seconds.</li>
                    <br />
                    <li>Clear the baby's airway by gently tipping the head back by lifting the chin with one hand and pushing down on the forehead with the other hand.</li>
                    <br />
                    <li>Check if the baby is breathing.  If not, cover the baby's mouth and nose with your mouth.  Prepare to give two rescue breaths.  Use the strength of your cheeks to deliver gentle puffs of air (instead of deep breaths from your lungs) to slowly breathe into the baby's mouth one time, taking one second for the breath. Watch to see if the baby's chest rises.  If it does, give a second rescue breath.  If the chest does not rise, repeat the head-tilt, chin-lift maneuver and then give the second breath.</li>
                    <br />
                    <li>If the baby's chest still doesn't rise, examine the mouth to make sure no foreign material is inside. If an object is seen, sweep it out with your finger. If the airway seems blocked, perform first aid for a choking baby.</li>
                    <br />
                    <li>Do five 5 more sets of 30 compressions and 2 breaths.</li>
                    <br />
                    <li>If victim has not responded after 5 sets (about 2 minutes) and 911 has not been called yet, call 911 and continue CPR.</li>
                    <br />
                    <li>Continue doing sets of compressions and breaths until you see signs of life or help arrives.</li>
                    <br />
                </ul>
            </div>

            <div data-role="collapsible">
                <h3>Using an AED</h3>
                <p>AED Locations:</p>
                <a data-ajax="false" href="AED.html" data-role="button">AED Locations</a>
                <ul>
                    <li>Retrieve the closest AED unit.</li>
                    <br />
                    <li>If lay responder is trained with the use of an AED, proceed with using unit.</li>
                    <br />
                    <li>If lay responder is not trained, follow a 911 dispatcher's instructions.</li>
                    <br />
                    <li>DO NOT use the AED on a patient laying in water or on any electrically conductive surface.</li>
                    <br />
                    <li>DO NOT operate the AED in a potentially explosive environment.</li>
                    <br />
                    <li><b>NOTE:</b> The use of an AED is necessary to revive a victim of cardiac arrest. The unit is automated and will only shock when necessary.</li>
                    <br />
                    <li>If an AED was used, contact ASU Environmental Health and Safety (See <a href="contactPage.html">Emergency Contacts</a> section.</li>
                    <br />
                </ul>
            </div>

            <div data-role="collapsible">
                <h3>Choking (Abdominal Thrusts)</h3>
                <ul>
                    <li>Call 911.</li>
                    <br />
                    <li>DO NOT perform abdominal thrusts if the victim is coughing.</li>
                    <br />
                    <li>Get behind victim; wrap your arms around the persons waist, just above their navel.</li>
                    <br />
                    <li>Clasp your hands together in a double fist. PRESS IN AND UP IN QUICK THRUSTS.</li>
                    <br />
                    <li>Be careful not to exert pressure against victim's rib cage with forearms.</li>
                    <br />
                    <li>Repeat procedure until choking stops.</li>
                    <br />
                    <li>Report incident to supervisor. Supervisor is responsible for notifying ASU Environmental Health and Safety Department.</li>
                    <br />
                </ul>
            </div>
            
            <!---Contact--->
            <div data-role="collapsible">
                <h3>Emergency Contacts</h3>
                <div>
                    <li style="font-weight:bold">ASU Police by campus</li>
                    <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>

                    <li style="font-weight:bold">Campus Health by campus</li>
                    <p>Tempe <a href="tel:1(480) 965-3349">480.965.3349</a> | Poly <a href="tel:1(480) 727-1500">480.727.1500</a> | West <a href="tel:1(602) 543-8019">602.543.8019</a> | Downtown <a href="tel:1(602) 496-0721">602.496.0721</a> M-F 9am-4:30pm</p>

                    <li style="font-weight:bold">ASU Environmental Health & Safety</li>
                    <p><a href="tel:1(480) 965-1823">480.965.1823</a> Mon-Fri, 8am-5pm. Nights and weekends call the ASU Police.</p>
                    <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                </div>
            </div>

            <!---Quiz--->
            <div data-role="collapsible">
                <h3>Medical Emergency Quiz</h3>
                <div>
                    <p>Take medical emergency safety quiz:</p>
                    <a data-ajax="false" href="MedicalEmergencyQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>

            <!---Training--->
            <div data-role="collapsible">
                <h3>Medical Emergency Training</h3>
                <div>
                    <p>Register for Medical Emergency Training:</p>
                    <a href="trainingPage.html" data-role="button">Training Page</a>
                </div>
            </div>

        </div><!---End Medical Emergency sub-sections--->
    </div>   
    <!--footer-->
	{% include 'includes/footerBar.html' %}

</div>