<!------------------------------------------------->
<!---------How to Handle News Requests------------->
<!------------------------------------------------->
<div data-role="page" id="newsGuide">

     <!--header-->
    {% with page_title='How to Handle News Requests'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">How to Handle News Requests</h3>
        <hr><br>
        <ul>
            <li style="text-align-:center">Unless authorized, do not give statements of behalf of the university.</li><br>
            <li style="text-align-:center">During an incident involving ASU, all inquiries from the news media should be directed to ASU's Strategic Communications & Media Relations staff.  Media Relations representatives are trained to respond to media inquiries in a timely way on behalf of ASU.</li><br>
			<li>If you are contacted by members of the media, take the caller's name and phone number.  Then, refer the caller to Strategic Communications & Media Relations representative (see contacts page).  Strategic Communications & Media Relations staff will coordinate media response, taking into consideration all applicable legalities.</li><br>
            <li>Affiliates of ASU can receive emergency text messaging and emails by visiting MyASU and registering for Alerts/Advisories.  Ten additional guests can be added to each account.</li><br>
        </ul>
	</div>
            
                <!---Contact--->
            <div data-role="collapsible">
                <h3>Contacts</h3>
                 <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                     
                        <li style="font-weight:bold">Arizona's Early Claim Reporting Line</li>
                        <p><a href="tel:1(602) 542-WORK">602.542.WORK</a> or <a href="tel:1(1800) 837-8583">1.800.837.8583</a>.</p>
                         
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
            </div>

                <!---Quiz--->
            <div data-role="collapsible">
                <h3>How to Handle News Requests Quiz</h3>
                <div>
                    <p>Take How to Handle News Requests quiz:</p>
                    <a data-ajax = "false" href="NewsRequestsQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>

    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>