

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">ASU Police</h3>

	<p style="text-align:center"><strong>Address: </strong>325 E. Apache Blvd.</p><hr><br>
	<ul>
	<li>1st Floor Cooridor By  RM 115</li>
	<li>2nd Floor Cooridor By RM 214</li>
	<li>3rd Floor Cooridor By RM 314</li>

	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>




