<!--------------------------------------------->
<!---------Post-incident Reporting------------->
<!--------------------------------------------->
<div data-role="page" id="reportingGuide">

     <!--header-->
    {% with page_title='Post-incident Reporting'%}
    {% include 'includes/headerBar.html' %}
    {% endwith %}

    <div data-role="content">
        <h3 style="color:#800000;text-align:center">Post-incident Reporting</h3>
        <!--- Sub-sections (Collapsible set)------>
        <div data-role="collapsible-set" data-inset="true">
       
            <div data-role="collapsible">
                <h3>Personal Injury</h3>
                <ul>
                    <li>Personal Injury Coverage - University employees are covered by Worker's Compensation (Staff, Faculty, Graduate Students, Student Workers, Academic Professionals and Administrative Staff) including volunteers.</li><br/>
                    <li>Employee - Seek immediate medical attention if necessary and advise your supervisor.  Send all forms to ASU Office of Human Resources.</li><br/>
                    <li>Employee or Supervisor - Call Arizona's Early Claim Reporting Line.  Claim must be made within 48 hours.  602-542-WORK or 1-800-837-8583.</li><br/>
                    <li>Employee or Supervisor - Visit <a href="https://cfo.asu.edu/disability" onClick="javascript:return openExternal(this)">ASU HR page</a> and complete the workers' compensation form.</li><br/>
                    <li>Supervisor - Visit ASU's HR webpage and complete Employer's Report of Industrial Injury, and the Supervisor's Accident Investigation Report.  Have injured employee sign and date the State Risk Management Authorization Form.</li><br/>
                    <li>Supervisor - Notify <a href="https://cfo.asu.edu/ehs" onClick="javascript:return openExternal(this)">Environmental Health and Safety</a>.</li><br/>
                    <li>Supervisor - Return all completed forms to Human Resource Employee Service Center within five (5) days from the date of injury.</li><br/>
                </ul>
            </div>
            
            <div data-role="collapsible">
                <h3>Property Loss</h3>
                <ul>
                    <li>Property Loss - Loss greater than 10,000 dollars must be reported within 24 hours and loss less than 10,000 must be reported within 90 days.</li><br/>
                    <li>Reporting Party - Report all loss to Insurance Services or complete the university property loss or vehicle property loss form.</li><br/>
                    <li>Criminal Acts - If the loss or damage involves criminal activity, report it to the ASU Police Department.</li><br/>
                </ul>
            </div>
            
                <!---Contact--->
            <div data-role="collapsible">
                <h3>Contacts</h3>
                 <div>
                        <li style="font-weight:bold">ASU Police by campus</li>
                        <p>Tempe <a href="tel:1(480) 965-3456">480.965.3456</a> | Poly <a href="tel:1(480) 727-3456">480.727.3456</a> or <a href="tel:1(480) 727-3456">480.727.3456</a> after hours | West <a href="tel:1(602) 543-3456">602.543.3456</a> | Downtown <a href="tel:1(602) 496-3456">602.496.3456</a></p>
                         
                        <p>Also see <a href="contactPage.html">Emergency Contacts</a> page.</p>
                    </div>
            </div>

                <!---Quiz--->
            <div data-role="collapsible">
                <h3>Post-Incident Reporting Quiz</h3>
                <div>
                    <p>Take Post-Incident Reporting quiz:</p>
                    <a data-ajax = "false" href="ReportingQuiz.html" data-role="button">Take Quiz</a>
                </div>
            </div>

            </div> <!---Post-Incident Reporting sub-sections--->
        </div>
    <!--footer-->
    {% include 'includes/footerBar.html' %}

</div>
