

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Student Services</h3>

	<p style="text-align:center"><strong>Address: </strong>1151 S. Forest Avenue</p><hr><br>
	<ul>
	<li>1st Floor by room 140 and the stairwell</li>
	<li>3rd Floor by room 334</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



