

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Student Athlete Center</h3>

	<p style="text-align:center"><strong>Address: </strong>500 E. Veteran's Way</p><hr><br>
	<ul>
		<li>LL Weight Room</li>
		<li>1st Floor near southwest elevator 100E2</li>
		<li>6th Floor near room 636</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>




