

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Sun Devil Statium Suites</h3>

	<p style="text-align:center"><strong>Address: </strong>500 E. Veteran's Way</p><hr><br>
	<ul>
		<li>3rd Floor across from elevator near room 310</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>



