

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Sun Devil Sports Performance</h3>

	<p style="text-align:center"><strong>Address: </strong>650 S. Athletes Place</p><hr><br>
	<ul>
		<li>Around corner from room 120, next to main entrance</li>

 
	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>




