

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">University Center A - Human Resources</h3>

	<p style="text-align:center"><strong>Address: </strong>1100 E. University Drive</p><hr><br>
	<ul>
		<li>University Center Building A Human Resources</li>
  

	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>





