

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">University Services </h3>

	<p style="text-align:center"><strong>Address: </strong>1551 S. Rural Road</p><hr><br>
	<ul>
	<li>2nd Floor by room 2103</li>
	<li>1st Floor by the Elevator 6104</li>
	<li>1st Floor room 1600 by bathroom</li>
	<li>2nd Floor North Side By Emergency Exit room 2103</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



