

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Wheatherup Center</h3>

	<p style="text-align:center"><strong>Address: </strong>521 S. Rural Road</p><hr><br>
	<ul>
		<li>In room 131 Mens Gym</li>
		<li>In room 101A Womens Gym</li>
		<li>2nd Floor near room 211</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>



