

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

	<div data-role="content">
	<h3 style="color:#800000;text-align:center">Wells Fargo Arena</h3>

	<p style="text-align:center"><strong>Address: </strong>600 E. Veteran's Way</p><hr><br>
	<ul>
		<li>First Aid Station room 138</li>
		<li>Lower Level near the basketball court and room 1</li>


	</ul>

	</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
	</div>




