

<div data-role="page" >

 <!--header-->
	{% with page_title='AED Locations'%}
{% include 'includes/headerBar.html' %}
{% endwith %}

<div data-role="content">
	<h3 style="color:#800000;text-align:center">Wrigley Hall</h3>

	<p style="text-align:center"><strong>Address: </strong>800 S. Cady Mall</p><hr><br>
	<ul>
	<li>Lower Level corridor near elevator, across from room L1-08</li>
	<li>1st Floor corridor, next to elevator on the south side</li>
	<li>2nd Floor corridor, near stairwell on the south side</li>
	<li>3rd Floor corridor, near stairwell on the south side</li>
	<li>4th Floor corridor, near stairwell on the south side</li>
	</ul>
</div>
    <!--footer-->
	{% include 'includes/footerBar.html' %}
</div>



